<!-- my_custom_app/my_module/page/my_custom_page/my_custom_page.html -->

<div class="page-content">
    <h1>My Custom Page</h1>
    <!-- Your HTML content here -->
    <div id="custom-data-container">


    {% extends "templates/web.html" %}

    {% block page_content %}
    {{ 3+ 6 }}
    <p> check this out</p>
    {% endblock%}
    {% block page_content %}
    <h1>{{ title }}</h1>
    <img src="{{ doc.workoutplan_image }}" alt="workoutplan_image"><br>
    <a href="http://15latest.local:8000/gym-registration/new" class="btn btn-warning btn-outline-dark m-5">
        Click to register
    </a>
    <p>
        {{ doc.things_to_note }}
    </p>

    {% set workout_activities = doc.activities %}

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Day</th>
            <th scope="col">Focus</th>
            <th scope="col">Exercise</th>
            <th scope="col">Sets</th>
            <th scope="col">Reps</th>
            </tr>
        </thead>
        <tbody>
        {% for workout_activity in workout_activities %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ workout_activity.day }}
                    </td>
                    <td>
                        {{ workout_activity.goal }}
                    </td>
                    <td>
                        {{ workout_activity.exercise }}
                    </td>
                    <td>
                        {{ workout_activity.sets }}
                    </td>
                    <td>
                        {{ workout_activity.reps }}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="http://15latest.local:8000/gym-registration/new" class="btn btn-warning">
        Click to register
    </a>
    {% endblock %}
        </div>
</div>

<script>
    frappe.pages['gym_members_profile_'].on_page_load = function(wrapper) {
        // Include the JavaScript logic from my_custom_page.js
    };
</script>





this is a sample default web page template